<form ng-submit="search(term)">
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
    </span>
    <input ng-model="term" class="form-control" aria-label="Search Term" />
    <span class="input-group-btn">
      <button class="form-control btn btn-default" action="submit">Go</button>
    </span>
  </div>
</form>
<div class="book-list">
  <div class="book" ng-repeat="book in verses.books">
    <a ng-href="#/text/{{book.id}}/1">{{book.name}}</a>
  </div>
</div>
<div class="search-results">
  <div class="verse result row" ng-repeat="verse in verseResults | orderBy:'match':true track by (verse.version + verse.id)">
    <span class="reference" title="{{verse.match}}">
      <a ng-href="#/text/{{verse.book}}/{{verse.chapter}}">
        <span class="book">{{::verse.bookName}}</span>
        <span class="chapter">{{::verse.chapter}}</span><span class="verse-number">{{::verse.verse}}</span>
      </a>
    </span>
    <span class="text">{{verse.text}}</span>
  </div>
</div>
